name: build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  workflow_call:

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: coq-community/docker-coq-action@v1
        with:
          opam_file: iris-richwasm.opam
          coq_version: "9.0"
          ocaml_version: default
          before_install: |
            sudo apt-get install -y wabt
            opam update -y
            opam install -y --deps-only vendor/iriswasm
