name: build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  workflow_call:

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: coq-community/docker-coq-action@v1
        with:
          opam_file: iris-richwasm.opam
          coq_version: "9.1"
          ocaml_version: default
          before_install: |
            # default
            startGroup "Print opam config"
              opam config list; opam repo list; opam list
            endGroup
            startGroup "Install vendor dependencies"
              opam update -y
              opam install -y --deps-only vendor/iriswasm
            endGroup
          before_script: |
            startGroup "install system dependencies"
              sudo apt-get install -y wabt
            endGroup
