name: Nix Build & Test
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - uses: cachix/cachix-action@v16
      with:
        name: iris-richwasm
        authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
    - run: nix build
    - run: nix flake check
